*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #149afd;
}

#app{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
} h1{
    text-align: center;
}